/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
a {
	color: #D7D000;
	text-decoration: none;
}
a:hover {
	color: #D7D0A0;
	text-decoration: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
body {
    color: #ccc;
    font-size: 1em;
    line-height: 1.4;
	background: #444349;
    overflow-y: scroll;
}
img.bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
#coverbg {
    width: 100%;
    height: 100%;
	background: #333;
    opacity: 0.85;
    position: fixed;
    bottom: 0;
	z-index: 2;
}
#main {
    width: 100%;
    max-width: 1024px;
    background: rgb(68,67,73);
    background: rgba(68,67,73,0.7);
    box-shadow: 0 0 4px black;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
}
header {
	width: 100%;
	background: rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid black;
    padding: 7px 0;
    margin-bottom: 7px;
    overflow: auto;
}
header div {
	box-sizing: border-box;
	float: left;
}
#menu {
	width: 20%;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: block;
    float: left;
    padding: 0 10px;
    font-size: 18px;
}
#aggregationstatus {
	width: 60%;
	font-size: 15px;
	text-align: center;
}
#socialmenu {
	width: 20%;
	text-align: right;
	padding-right: 1rem;
	float: right;
}
@media (max-width: 1023px) {
	#aggregationstatus {
		width: 100%;
		float: right;
		margin-top: 10px;
	}
	#menu, #socialmenu {
		width: 50%;
	}
}
#content {
	padding: 0 10px;
}


/* main */
.tops {
	text-align: center;
	margin-bottom: 15px;
}
.tops>div {
	width: 48%;
	display: inline-block;
	text-align: center;
}
.tops table {
	width: 95%;
	font-size: 14px;
}
.tops table td {
	text-align: right;
	padding: 7px;
}
.tops table th {
    border-bottom: 1px solid #777;
	padding: 7px;
}
.tops table td a {
    float: left;
    text-align: center;
}
.tops table td.rolename {
	text-align: left;
    border-right: 1px solid #777;
}
.tops table td.highest {
	color: #3bd049;
    border-right: 1px solid #777;
}
.tops table td.lowest {
	color: #c24444;
}
@media (max-width: 820px) {
	.tops>div {
		width: 100%;
	}
}

.grid {
	overflow: auto;
    text-align: center;
}
.card {
	width: 230px;
    display: inline-block;
	padding: 5px;
    transition: background-color 0.5s ease;
}
.card.hash {
	background: rgba(255, 255, 255, 0.05);
}
.card>img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.card>p {
	width: 100%;
}
.card .stats {
	width: 100%;
}
.card .stats>div{
	width: 20%;
	display: inline-block;
}
.card .stats>div:before {
	display: inline-block;
	content: " ";
	height: 18px;
	width: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    position: relative;
    top: 3px;
}
.card .strength:before {
	background-image: url('/img/strength.png');
}
.card .dexterity:before {
	background-image: url('/img/dexterity.png');
}
.card .defense:before {
	background-image: url('/img/defense.png');
}
.card .speed:before {
	background-image: url('/img/speed.png');
}
.card .statistical {
	width: 100%;
}
.card .statistical>div{
	width: 49%;
	display: inline-block;
    min-height: 60px;
    vertical-align:top;
}
.card .statistical p {
	color: #b7a3da;
}
.card p {
	margin: 2px 0;
}
.card .damagedealt, .card .matchtime {
	font-size: 0.75em;
}

.streams>div {
	width: 33.33%;
	display:inline-block;
    text-align: center;
    padding: 0 4%;
    box-sizing: border-box;
}
@media (max-width: 1023px) {
	.streams>div {
		width: 100%;
		margin-bottom: 15px;
	}
}
.streams>div img {
	width: 100%;
}
.streams>div span.name {
    display: block;
    float: left;
}
.streams>div span.viewers {
    display: block;
    float: right;
}
footer {
	color: #eee;
	font-size: 13px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5px;
	width: 80%;
	margin: 0 auto;
}